.container {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #fff;
}

.innercontainer {
  display: flex;
  margin: auto;
  width: 90%;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-top: 0.5rem;
}
.navMenu {
  display: flex;
  justify-content: space-between;
}
a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
  padding: 1rem 1.5rem 0;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.5%;
}

.mobileNav li:hover {
  font-weight: bold;
}
.hamburger {
  display: none;
  padding: 1rem;
}
.mobileMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navMenu {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .navMenu {
    display: none;
  }
}

@media (max-width: 940px) {
  .mobileMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    top: -100vh;
    left: 0;
    background-color: #f5f5f5;
    align-items: center;
    transition: 0.3s;
  }
  .active {
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1rem;
    position: absolute;
    justify-content: space-between;
    right: 0;
    background-color: #f5f5f5;
    align-items: center;
    transition: 0.3s;
  }
  .navbar {
    position: fixed;
  }
  .navMenu {
    display: none;
  }

  .active li {
    padding: 1.2rem 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid rgb(10, 10, 56);
  }

  .hamburger {
    display: block;
  }
}
